$background-size: cover;
$background-position: center;
$background-repeat: no-repeat;

$spacing: 10px;
$background-color: #87CEEB;
$light-text-color: #ecf0f1;
$card-color: #1E90FF;
$button-color: #6495ED;

@mixin weatherForecast {
  background-size: $background-size;
  background-position: $background-position;
  background-repeat: $background-repeat;
}

h1 {
  text-align: center;
  margin: 30px;
  font-size: 60px;
}

body {
  background-color: $background-color;
  color: $light-text-color;
  font-family: Arial, sans-serif;
  padding: $spacing;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  &.dark {
    background-color: darken($color: $background-color, $amount: 60)
  }
}

#previsionsMeteo,
#previsionsMeteo2 {
  @include weatherForecast;

  display: flex;
  overflow-x: auto;
  gap: 2rem;
  padding: 1rem;

  .jour {
    body.dark & {
      background-color: darken($color: $card-color, $amount: 45);
      box-shadow: 0px 0px 10px 2px darken($color: #f0f3e3, $amount: 10);
    }

    flex: 1;
    box-shadow: 0px 0px 10px 2px #f0f3e3;

    background-color: $card-color;
    padding: $spacing;
    border-radius: 20px;
    text-align: center;
    justify-content: space-around;

    &:hover {
      outline: 0.5rem solid $card-color;
      box-shadow: 0px 0px 15px 10px #f0f3e3;
    }

    h2,
    h3,
    p,
    img {
      margin: 0 $spacing;
    }

    h2,
    h3 {
      margin-bottom: $spacing;
      color: $light-text-color;
    }

    p {
      margin: 5px 0;
      color: $light-text-color;

      &.temperature {
        font-size: 2em;
        font-weight: bold;
        color: #15dbde;
        margin-bottom: 20px;
      }

      img {
        max-width: 50px;
      }
    }

  }

  .jour:first-child {
    background-color: #4169E1;

    body.dark & {
      background-color: darken($color: #4169E1, $amount: 60);
    }

    &:hover {
      outline: 0.5rem solid #4169E1;
      box-shadow: 0px 0px 15px 10px #e1f199;
    }
  }
}




.ville-container,
.ville2-container {
  @include weatherForecast;

  border-radius: 30px;
  padding: $spacing;
  margin-bottom: $spacing;
}

.city__form {
  label {
    background-color: $background-color;
    border-radius: 20px;
    border: 1px solid $button-color;

    input {
      flex: 1;
      padding: 8px;
      border: none;
      border-radius: 20px;
      background-color: transparent;
      background-size: contain;
      color: $light-text-color;
      font-size: 16px;

      &.ville {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background: rgba(0, 0, 0, 0.5);
      }

      &.ville2 {
        background-size: contain;
        background-position: left top;
        background-repeat: no-repeat;
        background: rgba(0, 0, 0, 0.5);
      }
    }

    button {
      body.dark & {
        background-color: darken($color: $button-color, $amount: 40);
      }

      background-color: $button-color;
      color: $light-text-color;
      border: none;
      padding: $spacing;
      cursor: pointer;
      border-radius: 50px;
      width: 5rem;

      transition: background-color 0.3s,
      color 0.3s;

      &:hover {
        background-color: darken($button-color, 10%);
        color: lighten($light-text-color, 20%);
        border-radius: 20px;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(lighten($button-color, 10%), 0.5);
      }

      &:active {
        background-color: darken($button-color, 20%);
        color: lighten($light-text-color, 30%);
        border-radius: 20px;
      }
    }
  }
}

.city {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include weatherForecast;
  // background-image: url("../img/ciel-nuages-image.jpg");
  margin-bottom: 3rem;

  border-radius: 3rem;
  max-width: fit-content;
  box-shadow: 0px 0px 15px 10px #f0f3e3;
  overflow: hidden;

  body.dark & {
    box-shadow: 0px 0px 15px 10px darken($color: #f0f3e3, $amount: 10);
  }
}

#ville {
  background: rgba(247, 242, 242, 0.5);
}

#ville2 {
  background: rgba(247, 242, 242, 0.5);
}

#ville,
#ville2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  max-width: fit-content;
  padding: 3rem;
}

@media screen and (min-width: 760px) {
  hr {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  header {
    align-self: baseline;
  }

  h1 {
    font-size: 35px;
    margin: 0 0 2rem 0;
  }

  button {
    justify-content: center;

  }

  #previsionsMeteo,
  #previsionsMeteo2 {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }

  .jour {
    margin: 5Px;
  }

  #ville,
  #ville2 {
    label {
      display: flex;
    }

    padding: 2.5rem 1.5rem;
  }

  .city {
    margin: 0;
  }
}

// ----- DARK MODE -----

.bt-theme-light {
  display: none;
}

body.dark {
  .bt-theme-light {
    display: initial;
  }

  .bt-theme-dark {
    display: none;
  }
}

.bt-theme {
  font-size: 200%;
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  margin: 8px;
}